{% extends 'base.html.twig' %}

{% block title %}The Station Theatre{% endblock %}

{% block body %}
    <main>
        <ul>
            {% for production in productions %}
                <li>
                    {{ production.title }}
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}
